<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the Message Board. To Post Messages please sign up here:</p>
    <a href="/sign-up">Sign Up</a>
    <a href="/log-in">Log In</a>
    <a href="/logout">Logout</a>
    <% if (user) { %>
    <h2><%= user.name %> (<%= user.username %>) logged in</h2>
    <% if (user.admin === true) { %>
    <p><%= user.username %> is an admin</p>
    <% } %> <% } %>
    <div class="message-board">
      <h1>Messages</h1>
      <% if (user) { %>
      <button onclick="window.location.href='/new-message'">
        Create New Message
      </button>
      <% } %> <% messages.forEach((message) => { %>
      <p>Message: <%= message.text %></p>
      <% if (user) { %>
      <p><%= message.user.name %> (<%= message.user.username %>)</p>
      <p>
        <%= message.posted.toLocaleDateString('en-US', {month: "long", day:
        "numeric", year: "numeric"}) %> - <%=
        message.posted.toLocaleTimeString('en-US', {hour: "numeric", minute:
        "numeric", hour12: true}) %>
      </p>
      <% if (user.admin === true) { %>
      <form method="post" action="/delete-message">
        <input type="hidden" name="messageID" value="<%= message._id %>" />
        <button type="submit">Delete Message</button>
      </form>
      <% } %> <% } %> <% }) %>
    </div>
  </body>
</html>
