<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="heading">
      <h1 class="main-title"><%= title %></h1>
      <p>Welcome to the Message Board. To Post Messages please sign up.</p>
    </div>
    <div class="nav-buttons">
      <button onclick="window.location.href='/sign-up'">Sign Up</button>
      <button onclick="window.location.href='/log-in'">Log In</button>
      <button onclick="window.location.href='/logout'">Logout</button>
    </div>
    <% if (user) { %>
    <h2>Welcome <%= user.name %>!</h2>
    <% if (user.admin === true) { %>
    <p>User Status: Admin</p>
    <% } else { %>
    <p>User Status: Standard</p>
    <% } %> <% } else { %>
    <p>
      Not Logged in. Please log in to create messages and interact with the
      message board.
    </p>
    <% } %>

    <div class="message-board">
      <h1>Messages</h1>
      <% if (user) { %>
      <button onclick="window.location.href='/new-message'">
        Create New Message
      </button>
      <% } %> <% messages.forEach((message) => { %>
      <p>Message: <%= message.text %></p>
      <% if (user) { %>
      <p><%= message.user.name %> (<%= message.user.username %>)</p>
      <p>
        <%= message.posted.toLocaleDateString('en-US', {month: "long", day:
        "numeric", year: "numeric"}) %> - <%=
        message.posted.toLocaleTimeString('en-US', {hour: "numeric", minute:
        "numeric", hour12: true}) %>
      </p>
      <% if (user.admin === true) { %>
      <form method="post" action="/delete-message">
        <input type="hidden" name="messageID" value="<%= message._id %>" />
        <button type="submit">Delete Message</button>
      </form>
      <% } %> <% } %> <% }) %>
    </div>
  </body>
</html>
